.chat-main
  .group-info
    .top-titles
      .group-name
        = @group.name
      .name
        Membar :  
        - @group.users.each_with_index do |user, i|
          - unless i.zero?
            &thinsp;
          = user.name
    = link_to edit_group_path(@group), class: "top-edit" do
      Edit
  .MessageField
    = render @messages
  = form_with model: [@group, @message], html: {class: "message-form"}, local: true do |f|
    .contents
      = f.text_field :content, class: 'inputContent', placeholder: 'type a message'
      = f.label :image, class: 'inputImage' do
        = icon('far', 'image')
        = f.file_field :image, class: 'filechoice'
    = f.submit 'Send', class: 'send-button'
